<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find 整机装配_v5_pure.SLDASM)/urdf/整机装配_v5_pure.SLDASM.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find 整机装配_v5_pure.SLDASM)/urdf.rviz" />
</launch>