<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="走地鹰">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0031768 4.31E-05 -0.016294"
        rpy="0 0 0" />
      <mass
        value="1.0693" />
      <inertia
        ixx="0.0034376"
        ixy="1.2E-07"
        ixz="-0.0016365"
        iyy="0.0053496"
        iyz="-2.07E-06"
        izz="0.0041925" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_thigh_link">
    <inertial>
      <origin
        xyz="-0.00056472 0.01408423 0.04339388"
        rpy="0 0 0" />
      <mass
        value="0.4724629" />
      <inertia
        ixx="0.00084403"
        ixy="8.5E-06"
        ixz="-6.24E-06"
        iyy="0.00023291"
        iyz="0.00015111"
        izz="0.00069749" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_thigh_joint"
    type="revolute">
    <origin
      xyz="0.01525 0.0558499999999976 -0.0431991909058736"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_calf_link">
    <inertial>
      <origin
        xyz="-2.777E-05 0.12275622 0.01133502"
        rpy="0 0 0" />
      <mass
        value="0.30875" />
      <inertia
        ixx="0.00078788"
        ixy="3.9E-07"
        ixz="-1E-07"
        iyy="5.504E-05"
        iyz="-9.686E-05"
        izz="0.00077188" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_calf_joint"
    type="revolute">
    <origin
      xyz="0 0.135800809094126 0.0199999999999967"
      rpy="0 0 0" />
    <parent
      link="left_thigh_link" />
    <child
      link="left_calf_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_foot_link">
    <inertial>
      <origin
        xyz="-6.05E-06 3.53E-06 -0.00262162"
        rpy="0 0 0" />
      <mass
        value="0.12784" />
      <inertia
        ixx="7.506E-05"
        ixy="1E-08"
        ixz="1E-08"
        iyy="7.507E-05"
        iyz="0"
        izz="0.00012118" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/left_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_foot_joint"
    type="revolute">
    <origin
      xyz="0 0.149999999999687 0.0572000000000056"
      rpy="0 0 0" />
    <parent
      link="left_calf_link" />
    <child
      link="left_foot_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_thigh_link">
    <inertial>
      <origin
        xyz="-0.00056475 -0.01357187 0.04341677"
        rpy="0 0 0" />
      <mass
        value="0.4724629" />
      <inertia
        ixx="0.00085033"
        ixy="-8.62E-06"
        ixz="-6.24E-06"
        iyy="0.00023242"
        iyz="-0.00015295"
        izz="0.00070428" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_thigh_joint"
    type="revolute">
    <origin
      xyz="0.0152499999999884 -0.05585 -0.0431991909058702"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_thigh_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_calf_link">
    <inertial>
      <origin
        xyz="-3.151E-05 -0.12275531 0.01133692"
        rpy="0 0 0" />
      <mass
        value="0.30875" />
      <inertia
        ixx="0.00078703"
        ixy="-4.6E-07"
        ixz="-9E-08"
        iyy="5.499E-05"
        iyz="9.685E-05"
        izz="0.00077102" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_calf_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_calf_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_calf_joint"
    type="revolute">
    <origin
      xyz="0 -0.13580080909413 0.02"
      rpy="0 0 0" />
    <parent
      link="right_thigh_link" />
    <child
      link="right_calf_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_foot_link">
    <inertial>
      <origin
        xyz="6.08E-06 -3.47E-06 0.00262162"
        rpy="0 0 0" />
      <mass
        value="0.12784" />
      <inertia
        ixx="7.506E-05"
        ixy="1E-08"
        ixz="1E-08"
        iyy="7.507E-05"
        iyz="0"
        izz="0.00012118" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/right_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_foot_joint"
    type="revolute">
    <origin
      xyz="0 -0.150000000000294 0.0572000000000011"
      rpy="3.14159265358979 0 0" />
    <parent
      link="right_calf_link" />
    <child
      link="right_foot_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ancient_link">
    <inertial>
      <origin
        xyz="-0.0551532 1.771E-05 0.05323196"
        rpy="0 0 0" />
      <mass
        value="0.91479641" />
      <inertia
        ixx="0.02435745"
        ixy="1.302E-05"
        ixz="0.00072183"
        iyy="0.02291713"
        iyz="4.12E-06"
        izz="0.04311735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/ancient_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://走地鹰/meshes/ancient_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ancient_joint"
    type="fixed">
    <origin
      xyz="0.145433170623286 0 0.110297685557172"
      rpy="0 -0.488692190558406 0" />
    <parent
      link="base_link" />
    <child
      link="ancient_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>